<footer class="pt-4 pt-md-5 border-top">
  <div class="row mb30">

    <div class="col-lg-3">

      <ul class="list-unstyled text-small">
        <h5 class="mb20">Mail Us</h5>
        <li class="liI"><div class="text-muted"><span class="ltt">support@hashlite.io</span></div></li>
        <li class="liI"><div class="text-muted" style="font-weight:400 !important;" >43-39 Rue du Fer A Moulin
            75005</div></li>
        <li class="liI"><div class="text-muted" href="#">Paris/France</div></li>

      </ul>
    </div>
    <div class="col-lg-3 ml-auto">

      <ul class="list-unstyled text-small">
        <h5 class="mb20">About us</h5>
        <li class="liI"><a class="text-muted" href="/terms">Terms & conditions</a></li>
        <li class="liI"><a class="text-muted" href="/privacy">Privacy Policy</a></li>
        <li class="liI"><a class="text-muted" href="/#contact">Contact Us</a></li>
        <li class="liI"><a class="text-muted" href="#">Support</a></li>
      </ul>
    </div>
    <div class="col-lg-3 ml-auto">

      <ul class="list-unstyled text-small">
        <h5 class="mb20">Main</h5>
        <li class="liI"><a class="text-muted" href="/#particles-home">Home</a></li>
        <li class="liI"><a class="text-muted" href="/#features">Features</a></li>
        <li class="liI"><a class="text-muted" href="/#pricing">Pricing</a></li>
        <li class="liI"><a class="text-muted" href="/#faqs">Faqs</a></li>
      </ul>
    </div>
  </div>
  <hr class="fhr">
  <div class="container text-muted py-5 text-center text-small">
    &copy;Copyright 2018 Hashlite
  </div>
</footer>




<script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="scripts/jquery.particleground.min.js"></script>
<script>
  //$('#particles-home').particleground();   
  $('#particles-home').particleground({
    dotColor: '#65749F',
    lineColor: '#65749F'
  });
</script>
<script type="text/javascript" src="scripts/main.js"></script>
<script src="jarallax.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
  

</body>

</html>