<% include partials/header %>

<!---navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-transparent-light navbar-sticky">
    <div class="container">
        <a class="navbar-brand" href="/#home">
            <img src="images/hashlite-logo-small.png" alt="" class="logo-scroll" style="width:200px;height:45px;top:10px;">
            <img src="images/hashlite-logo-small-white.png" alt="" class="logo-trans" style="width:200px;height:45px;top:10px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#landingkit-navbar" aria-controls="landingkit-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="landingkit-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-scroll="" href="#features">Features</a>
                </li>   
    <li class="nav-item">
                    <a class="nav-link" data-scroll="" href="#pricing">Pricing</a>
                </li>						                       
                 <li class="nav-item">
                    <a class="nav-link" data-scroll="" href="#faqs">Faqs</a>
                </li>
    <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/panel/login">SIGN-IN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!---landing screen-->

<div id="particles-home" class="fs bg-primary-dark">
  <div class="cont text-center">
    <div class="tab container">
    <div class="htext">Bitcoin Cloud Mining System</div>
    <p class="lead"><h5 id="lowH">The Best Earning Bitcoin Mining System.</h5></p>

    <p class="lead ltext"><span style="font-weight: 400 !important;">LIMITED OFFER:</span> REGISTER NOW AND GET 50 GH/S FOR FREE! INVITE</p>
    <p class="lead lm ltext">YOUR FRIENDS, GET 2 GH/S AND 25% OF THEIR MINING HASHPOWER.</p>
    <a class="btn btn-primary btn-lg mt-5 mb-9" href="#" role="button">Explore Features</a>
    <a class="btn sup btn-primary btn-lg mt-5 mb-9" href="#" role="button">SIGN-UP</a>
  </div>
</div>
</div>


<!--
  <h1 class="display-4">Bitcoin Cloud Mining System</h1>
    <p class="lead"><h5 id="lowH">The Best Earning Bitcoin Mining System.</h5></p>

    <p class="lead"><span style="font-weight: 400">LIMITED OFFER:</span> REGISTER NOW AND GET 50 GH/S FOR FREE! INVITE</p>
    <p class="lead lm">YOUR FRIENDS, GET 2 GH/S AND 25% OF THEIR MINING HASHPOWER.</p>
    <a class="btn btn-primary btn-lg mt-5" href="#" role="button">Explore Features</a>
    <a class="btn sup btn-primary btn-lg mt-5" href="#" role="button">SIGN-UP</a>
-->

<!---Features-->
<div class="container pt-5 pb-5">
    <h6 class="text-center text-muted tsmall">200.000+ REASONS TO CHOOSE US</h6>
    <h3 class="text-center section-title mb-5">Why choose us?</h3>
    <div class="row">
        <div class="col-lg-4 border border-faded border-top-0 border-left-0 feature-icon text-center">
            <i class="fa fa-bitcoin text-primary"></i>
            <h4>EASY AND FAST INVESTMENT</h4>
            <p class="tsmall">
                Once you make a payment on Hashlite system, it will be appear on your account without any verification and updates your hash power, and starts mining
            </p>
        </div>
        <div class="col-lg-4 feature-icon border border-faded border-left-0 border-top-0 text-center">
            <i class="fa fa-dollar text-success"></i>
            <h4>INSTANT WITHDRAWAL</h4>
            <p class="tsmall">
                Enter the amount to withdraw and receive it instantly
            </p>
        </div>
        <div class="col-lg-4 feature-icon border border-faded border-left-0 border-top-0 border-right-0 text-center">
            <i class="fa fa-calculator text-danger"></i>
            <h4>FIXED FEES</h4>
            <p class="tsmall">
                No hidden fees or comissions.
            </p>
        </div>
    </div>
</div>
<!---Pricing-->
<div class="container">

</div>

<!---Faqs-->
<div class="container">

</div>

<!---Contact us-->
<div class="container">

</div>

<!---Footer box-->
<div class="container">

</div>


<% include partials/footer %>

