<% include partials/header %>

<!---navbar-->
<div class="jumbotron text-center" id="firstBox">
    <h1 class="display-4">Bitcoin Cloud Mining System</h1>
    <p class="lead"><h5 id="lowH">The Best Earning Bitcoin Mining System.</h5></p>

    <p class="lead"><span style="font-weight: 400">LIMITED OFFER:</span> REGISTER NOW AND GET 50 GH/S FOR FREE! INVITE</p>
    <p class="lead lm">YOUR FRIENDS, GET 2 GH/S AND 25% OF THEIR MINING HASHPOWER.</p>
    <a class="btn btn-primary btn-lg mt-5" href="#" role="button">Explore Features</a>
    <a class="btn sup btn-primary btn-lg mt-5" href="#" role="button">SIGN-UP</a>
  </div>
<!---landing screen-->
<div class="container">

</div>

<!---Features-->
<div class="container">

</div>

<!---Pricing-->
<div class="container">

</div>

<!---Faqs-->
<div class="container">

</div>

<!---Contact us-->
<div class="container">

</div>

<!---Footer box-->
<div class="container">

</div>


<% include partials/footer %>

