
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Signin Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/signin.css">
    <link rel="stylesheet" href="stylesheets/signup.css">
    <link href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" action="/register" method="POST">
  <img class="logo mb-4" src="hashlite-logo-color.png" alt="">
  <h5 class="h4 font-weight-normal">Create a new account</h5>
  <% if(errorMes){ %>
    <div class="alert alert-danger" role="alert">
        <%= errorMes %>
      </div>
  <% } %>
  <div class="text-muted mb-4 text-small mb-3" style="font-size:15px;">Come join the HashLite Community! Let's set up your account.</div>
  <div class="form-row">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Fullname" name="fullName">
        </div>
        <div class="col-sm-6">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
      </div>
      <div class="form-row">
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="E-mail" name="username">
            </div>
            <div class="col-sm-6">
              <input type="password" class="form-control" placeholder="Confirm password" name="cpassword">
            </div>
          </div>
    <label>
      <input type="checkbox" required> <span class="text-sm mb-3" > I agree with the <b><a href="/terms"> Terms and Conditions</span></a></b>
    </label>
  </div>
  <button class="btn my-3 btn-lg btn-primary btn-block" type="submit">Register</button>
  <div href="/signin" class="mt-5 mb-3 text-muted" style="font-size: 13px;">Already have an account? <a href="/signin"><b>Sign in</a></b></div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
