<% include partials/header %>

<main class="main-content-terms pt-5 mt-5">

    <section id="terms" class='gradient-faded'>
        <div class="container pt90 pb90">
            <h3 class="text-center section-title mb70">Terms of Service</h3>
            <div class="row">
                <div style="border-color: #f7f7f7 !important;" class="col-lg-12 border border-faded border-top-0 border-left-0 feature-icon text-center">
                    <div class="cardhead">
                    <h1>Introduction</h1>
                    <h4>These Terms of Service apply to the use of the HashLite.io Cloud Mining Service and HashLite
                        Website located at HashLite.io and its subdomains. The Website and the Service are the property
                        of HashLite.</h4>
                    <h4>They set out how the HashLite.io Cloud Hosted Cryptocurrency Mining Service works and describe
                        any associated rights and responsibilities. The HashLite.io Terms of Service and any
                        instructions, guidance and similar information found on the Website (from time to time) also
                        apply to how you use the HashLite.io Cloud Mining Service (together the "Agreement"). BY USING
                        THE WEBSITE AND/OR THE SERVICE, YOU AGREE TO THESE TERMS OF SERVICE; IF YOU DO NOT AGREE, DO
                        NOT USE THE SITE AND/OR THE SERVICE.</h4>
                    <h4>HashLite reserves the right, at its sole discretion, to amend, change, modify, add or remove
                        portions of these Terms of Service, at any time. It is your responsibility to check these Terms
                        periodically for changes. The current version of these Terms is available at <u>https://HashLite.io/terms</u>.
                        Your continued use of the Website and/or the Service following the published updates to the
                        Terms will mean that you accept and agree to the changes. As long as you agree and comply with
                        these Terms, HashLite grants you a personal, non-exclusive, non-transferable, limited privilege
                        to enter and use the Website and the Service.</h4></div>
                    <span id="1" class="anchor">&nbsp;</span>
                    <div class="gradient-faded-terms">
                        <p><strong>1. ABOUT THE SERVICE, THE WEBSITE AND THESE TERMS OF SERVICE</strong><br>
                            1.1. This is an agreement (referred to as &quot;Terms&quot;) between <strong>HashLite</strong>
                            (also referred to in these Terms as &quot;HashLite&quot;, &quot;HF&quot;, &quot;we&quot;,
                            &quot;us&quot; or &quot;our&quot;) and you (also referred to in these Terms as
                            &quot;Customer&quot;, &quot;you&quot;, &quot;your&quot;), the person accessing and using
                            the HashLite.io cloud mining service and accepting these Terms.<br>
                            1.2. In these Terms:<br>
                            1.2.1. a reference to &quot;Cryptocurrency&quot;, &quot;Cryptocurrencies&quot; is a
                            reference to the distributed, decentralized peer-to-peer digital currencies:<br>
                            1.2.1.1. &quot;Bitcoins&quot; is a reference to a Cryptocurrency known as Bitcoin;<br>
                            1.2.1.2. &quot;Altcoins&quot; is a reference to all Cryptocurrencies other than Bitcoin,
                            such as Litecoin;<br>
                            1.2.2. &quot;Miners&quot; are individuals who register to mine Bitcoins and/or Altcoins
                            with a Cloud Machine. If you successfully apply to administer a Cloud Machine, you will be
                            a Miner;<br>
                            1.2.3. a &quot;Mining Pool&quot; is an organized association of Cryptocurrencies miners.
                            The members of these associations work together to mine Cryptocurrencies and those
                            Cryptocurrencies are distributed amongst the membership based on the contribution made to
                            the mining by each member;<br>
                            1.2.4. the &quot;Mining Hardware&quot; is the computer hardware owned by HF that is used to
                            provide the Service and to mine Cryptocurrencies;<br>
                            1.2.5. &quot;Hashrate&quot; or &quot;Hash rate&quot; is the mining power of the Mining
                            Hardware used to mine Cryptocurrencies. Hashrate is mining algorithm specific (SHA-256,
                            Scrypt, X11 etc);<br>
                            1.2.6. &quot;Cloud Machine&quot; is the processing power of the Service purchased by a
                            Miner and administered by a Miner using the Website;<br>
                            1.2.7. &quot;Service&quot; is HF's cloud hosted mining service, which enables individuals
                            to remotely mine Cryptocurrencies for themselves using our Mining Hardware and the Website;<br>
                            1.2.8. the &quot;Support&quot; or &quot;Customer Support&quot; or &quot;Helpdesk&quot; is
                            the technical support service of HashLite that is provided via email/ticket system,
                            available in the HashLite knowledge base/FAQ at http://support.HashLite.io where Customers
                            can find answers to general questions and request assistance by submitting a request;<br>
                            1.2.9. the &quot;Panel&quot; is the graphical user interface of the Service, with which the
                            Miner interacts to perform all actions related to the Service;<br>
                            1.2.10. the &quot;Website&quot; is HashLite.io and any apps, software, emails or other
                            websites which we use to provide the services of HashLite.io (which includes the Service);<br>
                            1.2.11. a &quot;Payout&quot; is the periodic deposit to your Balance, dependent on your
                            Cloud Machine. HashLite may change the periodicity of Payouts at any time, to a maximum of
                            once per 24 hours;<br>
                            1.2.12. &quot;Fees&quot; are maintenance and electricity fees, charged daily from the
                            Balance;<br>
                            1.2.13. &quot;Account&quot; is your personal access to the Service, described further in
                            section 6;<br>
                            1.2.14. &quot;Balance&quot; is your personal Account balance;<br>
                            1.2.15. a &quot;Contract&quot; is the access to a Cloud Machine of specific Hash rate;<br>
                            1.2.16. a "Contract Term" is the period of time for which a Miner has agreed to pay to
                            administer a Cloud Machine, by default, HF provides 1 year Contracts, unless stated
                            otherwise;<br>
                            1.2.17. &quot;Hold&quot; is the state an Account can be placed in that prevents the said
                            Account to make any withdrawals, used as a security measure;<br>
                            1.2.18. a &quot;Pre-order&quot; is a Contract with a start date in the future. Start date
                            is estimated and is subject to change;<br>
                            1.2.19. the &quot;Referral Program&quot; or &quot;Partner Program&quot; is the
                            functionality that allows a Customer to receive financial rewards for Contracts purchased
                            by other Customers;<br>
                            1.2.20. a &quot;Referral Code&quot; is an alphanumerical sequence (at least 6 characters
                            long) that is linked to a Customer's Account;<br>
                            1.2.21. a &quot;Referral Link&quot; is the URL with a Referral Code, that allows a new
                            Customer to register with HashLite;<br>
                            1.2.22. a &quot;Referral&quot; is a Customer who registered by using another Customer's
                            Referral Link;<br>
                            1.2.23. a &quot;Referrer&quot; is a Customer who had another Customer register using their
                            Referral Link;<br>
                            1.2.24. a &quot;Referral Purchase&quot; or &quot;Referred Purchase&quot; is a purchase made
                            by a Referral;<br>
                            1.2.25. a &quot;Referral Bonus&quot; is the reward a Referrer receives for a Referral
                            Purchase;<br>
                            1.2.26. an &quot;Affiliate Network&quot; is a third-party website that allows any person
                            (with or without a HashLite Account) to receive financial rewards for HashLite Contracts
                            purchased by referred Customers.<br>
                            1.3. These Terms apply to any mining you undertake by using the Service and Website and
                            they form a legal agreement between you and HF on the acceptance of you application for an
                            Account (as set out below).<br>
                            1.4. If there is ever a conflict between these terms of service and the HF terms of use or
                            the instructions, guidance and similar information found on the Website, these terms of
                            service will take priority.<br>
                            1.5. IT IS NOT POSSIBLE FOR US TO STATE DEFINITIVELY HOW MANY BITCOINS, LITECOINS AND/OR
                            ANY OTHER CRYPTOCURRENCY UNITS WILL BE MINED BY ANY MINER AND/OR SPECIFIC CLOUD MACHINE.<br>
                            1.6. By applying to register as a Miner you are confirming that you understand and accept
                            (and are able to understand and accept) these terms of service and that you agree that you
                            will be bound by them. You should regularly check the Website for changes to the terms of
                            service, instructions, guidance and similar information found on the Website.<br>
                            1.7. You may only apply to register as a Miner if:<br>
                            1.7.1. you are 18 years old or over; and<br>
                            1.7.2. it is lawful for you to do so.<br>
                            1.8. To register as a Miner, we may require you to provide us with identification or other
                            documentation in order to help us prevent fraud or money laundering. This may include
                            photographic identification and a recent proof of address. We may also undertake our own
                            identity, fraud and credit checks.<br>
                            1.9. It is forbidden for Miners to visit the Website or use the Service through anonymous
                            proxies (such as Tor) and other services or technologies that hide the real internet
                            connection of the user. </p>
                        <span id="2" class="anchor">&nbsp;</span>
                        <p><strong>2. RISK NOTICE</strong><br>
                            2.1. Actions with Cryptocurrencies carry inherent risks. Due to the fact that
                            Cryptocurrencies are unregulated and decentralized, their value is not insured by any legal
                            entities. The value of any Contract, any amount of any Cryptocurrency is subject to change
                            by HashLite due to a number of factors out of HashLite’ control. These factors include but
                            are not limited to changes of mining difficulty and/or other mining parameters/properties,
                            fluctuating price (in fiat currency to Cryptocurrency exchange rate, such as USD/BTC) of
                            Cryptocurrencies, obsolescence of hardware and amortization of hardware. You understand and
                            agree that the worth of any Contact and any amount of mined Cryptocurrency may lose all
                            worth at any moment of time due to the nature of Cryptocurrencies. You understand that you
                            are solely responsible for management of the Cryptocurrencies in your balance as well as
                            any losses or charges incurred by any third-party entity.<br>
                            2.2. Any information related to Cryptocurrency and Cryptocurrency mining that is/was
                            posted, published and/or provided by HashLite via any channel of communication (including
                            but not limited to: on the Website, in the Panel, via the Support Service, via Email
                            newsletter, in social media) is subject to change.</p>
                        <span id="3" class="anchor">&nbsp;</span>
                        <p><strong>3. CRYPTOCURRENCIES</strong><br>
                            3.1. You must not mine, buy, sell, exchange, hold, own or otherwise use or exploit
                            Cryptocurrencies in any way which is prohibited by the laws or regulations which apply to
                            you.<br>
                            3.2. Cryptocurrencies may not be appropriate for everyone. Before mining any
                            Cryptocurrencies you should learn about them to ensure that they are appropriate for you.
                            Like all currencies, there are disadvantages to using Cryptocurrencies. Some of the risks
                            particular to Cryptocurrencies include:<br>
                            3.2.1. currency fluctuation - the price of Bitcoin and/or any other Cryptocurrency may fall
                            sharply and may even fall to zero;<br>
                            3.2.2. transactions with Cryptocurrencies may be unconfirmed for a period of time. Although
                            very unlikely, some Cryptocurrency transactions may never be confirmed - Cryptocurrency
                            transactions which are unconfirmed are not completed;<br>
                            3.2.3. transactions with Cryptocurrencies are irreversible - if you send any amount of any
                            Cryptocurrency to the wrong person, you may be unable to recover those funds;<br>
                            3.2.4. Cryptocurrencies may be lost if you lose or forget any PINs or passwords necessary
                            to access and spend those Cryptocurrencies;<br>
                            3.2.5. unknown technical defects inherent in Cryptocurrencies; and<br>
                            3.2.6. new regulation which impacts the use of Cryptocurrencies.<br>
                            3.3. By agreeing to these terms of service or by mining Cryptocurrencies by using the
                            Service, you are indicating that you understand, are capable of understanding and accept
                            the risks associated with Cryptocurrencies.</p>
                        <span id="4" class="anchor">&nbsp;</span>
                        <p><strong>4. REGISTRATION</strong><br>
                            4.1. By applying to register, you are making an offer to enter an agreement on these terms
                            of service. Once submitted, you may not withdraw your offer.<br>
                            4.2. Only we can decide whether applications will be accepted. If your application is
                            accepted, a legal and enforceable agreement will be entered between you and us. Subject to
                            any statutory rights you may have, you may not cancel the agreement covered by these terms
                            of service and you will not be eligible for any refund. </p>
                        <span id="5" class="anchor">&nbsp;</span>
                        <p><strong>5. CONTRACT TERM</strong><br>
                            5.1. These Terms of Service are valid indefinitely, even after Account termination.<br>
                            5.2. The Contract Term for HashLite.io Cloud Machines is set to 1 year by default, unless
                            stated otherwise. The Contract is valid while profitable (refer to section 5.5.), until
                            expired or until terminated (refer to section 13), whichever comes first.<br>
                            5.3. Contracts with a stated expiry date will end on the date of expiry and the Cloud
                            Machine is stopped.<br>
                            5.4. Pre-order Contracts that are not activated immediately on purchase will activate on
                            the stated date.<br>
                            5.5. The Mining process continues until said mining is profitable. This means the Mining
                            process will stop if the Maintenance and Electricity Fees will become larger than the
                            Payout. If mining remains unprofitable for 21 consecutive days the Service is permanently
                            terminated (Hashrate type specific). During the consecutive 21 day period, Payouts and Fees
                            will also be temporarily stopped. If during the suspension period, the Contract-related
                            mining factors (such as the exchange rate and mining difficulty) that are outside of
                            HashLite’s control will change favorably, making mining profitable again, the Service will
                            be unsuspended and contracts reactivated.<br>
                            5.6. HashLite reserves the right to change the launch date, Contract Term of any Contract.
                        </p>
                        <span id="6" class="anchor">&nbsp;</span>
                        <p><strong>6. ACCOUNT AND PERSONAL INFORMATION</strong><br>
                            6.1. To register you will need to submit some personal information, a valid email address
                            (that will be used as Username and for user identification) for your Website account
                            (&quot;Account&quot;), a password (&quot;Password&quot;). Are required to select your
                            country of residence for appropriate VAT calculation. To be able to withdraw funds you will
                            need to enter at least one wallet for the Cryptocurrency you are mining. The Account may
                            allow you to add more than one Cryptocurrency wallet.<br>
                            6.2. HashLite may request to provide PII (Personally Identifiable Information) and/or
                            financial information of the Account owner for KYC (Know Your Customer) and/or AML
                            (Anti-Money Laundering) procedures. HashLite reserves the right to impose limitations on
                            the Account dependent on the provided information.<br>
                            6.3. You must ensure that all information about you that is held by us is true, complete,
                            not misleading and up to date.<br>
                            6.4. The Username and Password will be allocated to you if you successfully apply for
                            registration as a Miner.<br>
                            6.5. You will need your Username and Password to access some parts of the Website. Your
                            Username and Password are personal to you and must not be disclosed to any other person.<br>
                            6.6. The number of accounts is limited to 1 for each beneficiary.<br>
                            6.7. When you register, you may submit an order to administer a Cloud Machine. This order
                            will allow you to specify the processing power of the Cloud Machine. Only HashLite can
                            decide whether orders will be successful and acceptance is subject to availability, amongst
                            other things.<br>
                            6.8. Your order is a request to acquire a Contract from us and does not represent a formed
                            contract. If we accept your order, we will associate your Contract with your Account. Until
                            then, an order is considered pending and HashLite reserves the right to decline your
                            payment.<br>
                            6.9. Confirmation of your order will be made by email, which will also contain an estimated
                            commencement date for the Contract. The confirmed commencement date of the Contract will be
                            notified to you in a subsequent email. We cannot say how long it will take to confirm the
                            commencement date of the Contract.<br>
                            6.10. Subject to the payment of any fees which may be applied, Miners will be able to
                            receive Cryptocurrencies on the basis of the processing power of the Cloud Machine and the
                            period of time for which the Cloud Machine is mining. Miners will only be able to
                            administer the Cloud Machine during the Contract Term. Those Cryptocurrencies will be
                            transferred to your wallet upon your request, if such request is confirmed.<br>
                            6.11. If you lose access to your Account, HashLite may ask you to provide certain types of
                            data, including Personally Identifiable Information, to determine ownership of the Account.
                            This may include, but is not limited to: proof of identity; proof of residence; proof of
                            telephone number/email ownership and any identifiable activity on the Website, such as
                            transaction IDs, order numbers, withdrawal amounts and others. </p>
                        <span id="7" class="anchor">&nbsp;</span>
                        <p><strong>7. USE OF YOUR ACCOUNT</strong><br>
                            7.1. You may only mine Cryptocurrencies for your own benefit. By using the Website and/or
                            the Service you confirm that you are not acting for the benefit of any other person or
                            entity.<br>
                            7.2. We are entitled to assume that any use of your Account is made by you. You are solely
                            responsible and liable for any use of the Website or the Service under your Account or any
                            other use of your Username and Password.<br>
                            7.3. You may only hold one Account. If you forget your Username or Password, you can use
                            the password recovery option or contact Support.<br>
                            7.4. DO NOT SHARE YOUR PASSWORD WITH ANY OTHER PERSON OR ALLOW ANY OTHER PERSON TO USE YOUR
                            ACCOUNT. WE ARE NOT LIABLE FOR ANY IMPROPER USE OF YOUR PASSWORD OR ACCOUNT BY YOU OR ANY
                            OTHER PERSON. IF YOU HAVE REASONS TO ASSUME THAT ANY OTHER PERSON KNOWS YOUR PASSWORD, OR
                            THAT YOUR ACCOUNT HAS BEEN USED BY ANY OTHER PERSON, YOU MUST INFORM US IMMEDIATELY.<br>
                            <span id="8" class="anchor">&nbsp;</span>
                            <p><strong>8. RESTRICTIONS AND OBLIGATIONS</strong><br>
                                8.1. You agree to comply with all applicable laws and regulations, these terms of
                                service and all rules applicable to the use of the Website and the Service.<br>
                                8.2. You agree not to falsely describe or otherwise misrepresent yourself in any
                                dealings with HF.<br>
                                8.3. You are not allowed to abuse any campaigns, discounts, referral bonuses and/or
                                referral systems, provided from time to time by HF and/or its partners.<br>
                                8.4. You are not allowed to use any means to mask your internet traffic and IP address
                                (such as Proxy, Tor, VPN and others).<br>
                                8.5. Multi-Level Marketing (MLM) and/or High-Yield Investment Projects (HYIP) systems
                                are forbidden from providing any services to their users or partners based on HashLite,
                                including but not limited to HashLite Products and/or Services. <br>
                                8.6. You are strictly forbidden to use or exploit errors in design of the Website, the
                                Service and/or all and any of their parts, features which have not been documented,
                                and/or "program bugs" for commercial/personal gain or as means to disrupt and/or
                                destabilize the Service and/or the Website. If you encounter such an error by accident,
                                you are required to report your findings to <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="5b282e2b2b34292f1b333a28333d373a293e75323475">[email&#160;protected]</a></p>
                            <span id="9" class="anchor">&nbsp;</span>
                            <p><strong>9. ADMINISTRATION OF MINING </strong><br>
                                9.1. During the Contract Term you can use the Website to:<br>
                                9.1.1. amend or update your registration and contact details;<br>
                                9.1.2. with the help of customer support deactivate or reactivate your Account as well
                                as terminate an active Contract;<br>
                                9.1.3. with the help of customer support change the login email address;<br>
                                9.1.4. change some parameters of the mining of your Cloud Machine; and<br>
                                9.1.5. change your cryptocurrency-specific wallet addresses.<br>
                                9.2. Subject to payment and additional Fees in advance, you can use the Website to:<br>
                                9.2.1. add a new Cloud Machine; and<br>
                                9.2.2. increase the processing power of your Cloud Machine.</p>
                            <span id="10" class="anchor">&nbsp;</span>
                            <p><strong>10. BALANCE</strong><br>
                                10.1. Your Balance in the Panel is your personal amount of funds available to use.<br>
                                10.2. The Service may have multiple Balances. Currently available balances are:<br>
                                10.2.1. BTC Balance is measured in BTC (Bitcoins), accurate to 0.00000001 BTC (1
                                satoshi, the minimum indivisible amount of BTC);<br>
                                10.2.2. ETH Balance is measured in ETH (Ethereum), accurate to 0.00000001 ETH (10
                                GWei).<br>
                                10.3. Other Cryptocurrency Balances may be introduced and/or removed at any time.<br>
                                10.4. Funds mined will be transmitted directly to your Balance. This may take up to 24
                                hours from the date the coins are generated.<br>
                                10.5. Balance can be used in the following ways:<br>
                                10.5.1. You are able to withdraw your balance at any time if it meets the minimum
                                requirement, unless stated otherwise (subject to change).<br>
                                10.5.2. You are able to purchase additional Contract(s) for the Cloud Machine(s) to
                                increase your total Hashrate.<br>
                                10.6. HashLite reserves the right to make retroactive recalculations to Balance(s),
                                Cloud Machines, Hash rate and logs, including but not limited to, in the case of any
                                error occurring in the Service, to correct any mistakes or discrepancies.<br>
                                10.7. Balance may be negative. In such case, the Balance must become positive above the
                                minimum requirement before any withdrawals and/or purchases can be made using it. </p>
                            <span id="11" class="anchor">&nbsp;</span>
                            <p><strong>11. FEES</strong><br>
                                11.1. We provide a platform which enables individuals to mine cryptocurrencies using
                                our Mining Hardware. In return, we charge periodic maintenance and electricity fees
                                (&quot;Fees&quot;) that are devised from the usage of electricity as well as the cost
                                of maintenance of the said hardware. The maintenance costs of running the equipment
                                include but are not limited to: hardware setup, data center rent, Mining Pool testing,
                                staff salaries, future planning and proofing, software development, exchange of used
                                and out of order parts and other expenditures required to render the service on a
                                best-effort basis. Some Contract types are not subject to periodic Fees. The presence
                                and specification of Fees for each Contract type can always be seen on the Website.<br>
                                11.2. Monthly electricity fees are fixed and are calculated by the following formula:<br>
                                F = A * q * S * 720 h, where: </p>
                            <p>A - actual hashrate, measured in H/s;<br>
                                q - power consumption (power/hashrate), measured in kW / H/s;<br>
                                S - electricity cost (average for 2 previous months), measure in USD / kWh;<br>
                                720 h - hours in 1 month (accounted as 30 days).<br>
                                11.3. The Fees are deducted from your Balance once a day immediately after a Payout for
                                all active Cloud Machines (if more than 1 are active).<br>
                                11.4. HashLite reserves the right to change the fees at any time without prior notice.<br>
                                11.5. Fees are non-refundable. </p>
                            <span id="12" class="anchor">&nbsp;</span>
                            <p><strong>12. LIABILITY</strong><br>
                                12.1. We provide and maintain the Website and the Service on an &quot;AS IS&quot; and
                                &quot;AS AVAILABLE&quot; basis and we are liable only to provide our services with
                                reasonable skill and care.<br>
                                12.2. We give no other warranty in connection with the Website or the Service and we
                                disclaim all liability for:<br>
                                12.2.1. to the extent allowed by these Terms and without affecting any other clauses
                                within section 12, that may apply, accuracy, currency or validity of information and
                                material contained within and/or provided by the Website, the Panel, the Support
                                Service, in email newsletters and social media. You hereby agree, that no radio,
                                computer and internet communication equipment is completely free of fault, occasional
                                technical disruptions may affect the service and so can human error, which may result
                                in misrepresentation of content or miscommunication;<br>
                                12.2.2. any change in the exchange rate of Bitcoins or any other Cryptocurrency;<br>
                                12.2.3. any change in the difficulty of mining;<br>
                                12.2.4. any changes in applicable law or regulation, or the acts of any legislator or
                                regulator in any part of the world;<br>
                                12.2.5. any interruptions to or error of the Website or the Service or other
                                communications network;<br>
                                12.2.6. the infringement by any other person of any copyright or other intellectual
                                property rights of any third party through any User Content or use of the Website or
                                the Service;<br>
                                12.2.7. the availability, quality, content or nature of External Sites;<br>
                                12.2.8. any amount or kind of loss or damage due to viruses or other malicious software
                                that may infect a user's computer equipment, software, data or other property caused by
                                any other person accessing, using or downloading the Website, the Service or any User
                                Content; and<br>
                                12.2.9. all representations, warranties, conditions and other terms and conditions
                                which, but for this notice, would have effect.<br>
                                12.3. We will not be liable in any amount for failure to perform any obligation under
                                these terms of service if that failure is caused by the occurrence of an event beyond
                                our reasonable control.<br>
                                12.4. Except as provided above there are no other warranties, conditions or other terms
                                and conditions, express or implied, statutory or otherwise, and all of those terms and
                                conditions are hereby excluded to the maximum extent permitted by law.<br>
                                12.5. To the maximum extent permitted by law, we exclude liability for any losses or
                                damages which you may suffer, whether the same are suffered directly or indirectly or
                                are immediate or consequential, which fall within any of the following categories:<br>
                                12.5.1. special damage even though that party was aware of the circumstances in which
                                such special damage could arise;<br>
                                12.5.2. loss of anticipated savings;<br>
                                12.5.3. loss of business opportunity and management time;<br>
                                12.5.4. loss of goodwill;<br>
                                12.5.5. loss of Cryptocurrency arising as a result of any of your acts or omissions of
                                those of any third party;<br>
                                12.5.5.1. loss arising out of or in connection with:<br>
                                12.5.5.2. any defect or insecurity in any systems you use to store or transmit
                                Cryptocurrency or to access or use the Website or the Service ;<br>
                                12.5.5.3. any inaccurate or incomplete information you provide, including
                                Cryptocurrency wallet addresses;<br>
                                12.5.5.4. any changes to the amount of Cryptocurrency awarded to Miners;<br>
                                12.5.5.5. any changes to the regulatory, legislative or technical environment
                                applicable to Cryptocurrencies;<br>
                                12.5.5.6. the acts or omissions of any bank or provider of banking services; or<br>
                                12.5.5.7. any change in the value of Cryptocurrency howsoever arising (including as a
                                result of the acts or omissions of HF).<br>
                                12.6. To the maximum extent permitted by law, our aggregate liability in respect of any
                                claims made in connection with or arising out of the use of the Website or the Service
                                (whether in contract, tort (including negligence), breach of statutory duty, or
                                otherwise) for direct losses will be limited to the Fees.<br>
                                12.7. You agree not to use the Website or the Service in any way which:<br>
                                12.7.1. is unlawful;<br>
                                12.7.2. may give rise to civil or criminal liability for HF; or<br>
                                12.7.3. may bring HF into disrepute.<br>
                                12.8. You hereby agree to indemnify, defend and hold us and our officers, directors,
                                owners, agents, information providers, affiliates, licensors and licensees
                                (collectively, the &quot;Indemnified Parties&quot;) harmless from and against any and
                                all liability and costs (including reasonable legal fees) incurred by the Indemnified
                                Parties in connection with any claim arising out of:<br>
                                12.8.1. any fraud or fraudulent misrepresentation you commit;<br>
                                12.8.2. any inaccuracy or defect of any of the information you have provided to us;<br>
                                12.8.3. any breach of applicable law or regulation you commit;<br>
                                12.8.4. any other person’s use of your Account;<br>
                                12.8.5. any breach by you of these terms of service; and<br>
                                12.8.6. third party claims arising from your use of the Website or the Service, any of
                                Your Content or any use of your Account (whether or not such use was by you).<br>
                                12.9. You shall cooperate with us in the defense of any claim. We reserve the right, at
                                our own expense, to assume the exclusive defense and control of any matter otherwise
                                subject to indemnification by you.</p>
                            <span id="13" class="anchor">&nbsp;</span>
                            <p><strong>13. BREACH, SUSPENSION AND TERMINATION</strong><br>
                                13.1. Without limiting any other rights we have, we may suspend or terminate access to
                                your Account, the Website and/or the Service, nullify your Account Balance and/or hold
                                the ability to withdraw mined funds if you breach any of these Terms of Service.<br>
                                13.2. If we have grounds to suspect that you are using the Website or the Service
                                fraudulently or improperly, we will suspend your Account until you are able to
                                demonstrate to our satisfaction:<br>
                                13.2.1. your identity; and<br>
                                13.2.2. that no fraud or impropriety has occurred or been attempted.<br>
                                13.3. We will try to give you reasonable notice of any anticipated termination of the
                                Website or the Service.<br>
                                13.4. If you become aware of or suspect another user or Miner's breach of these terms
                                of service, or any fraud or impropriety by another user, you must contact us
                                immediately.<br>
                                13.5. In case of any Credit Card purchase (refer to section 14.2.6.) HashLite has the
                                right to place the Customer's Account on Hold (hold the ability to withdraw any mined
                                funds from the Customer's Account Balance) for a period of up to 30 days as a security
                                measure of anti-fraud related regulations and policies. <br>
                                13.6. We may deactivate your Account if all of the following criteria are met:<br>
                                13.6.1. your Account has no active Contracts;<br>
                                13.6.2. your Account has no Balance;<br>
                                13.6.3. your Account has no Balance changes in the last 6 months; and<br>
                                13.6.4. your Account has no logins in the last 6 months.<br>
                                13.7. If you do not log into your Account for 12 months, we may terminate the Account.
                                You will be, if possible, notified in advance. If we are unable to contact you, or you
                                do not take any action to prevent account termination, your Balance will be nullified.
                            </p>
                            <span id="14" class="anchor">&nbsp;</span>
                            <p><strong>14. PAYMENT TERMS, ORDER CANCELLATION, ORDER CHANGES AND ORDER REFUNDS</strong><br>
                                14.1. All invoices are issued in USD (United States dollar) by default. Payments
                                performed in any other currency must account for the exchange rate of said currency to
                                USD at the moment of invoice generation and any commissions for currency exchange.<br>
                                14.2. A Customer is able to purchase a Contract using a variety of payment methods:<br>
                                14.2.1. in Bitcoin via a Balance Purchase: purchase of hashrate using the Account
                                Balance directly, automatic version of Balance purchase is also referred to as
                                &quot;Reinvest&quot; or&quot;Reinvestment&quot;;<br>
                                14.2.2. in Bitcoin via a Bitcoin Transfer: transfer of BTC to HashLite BTC account via
                                CryptoPay payment system, the amount to pay depends on: sum of the order in USD, the
                                USD/BTC exchange rate at the moment of the purchase and the transfer fee of the Bitcoin
                                network (third-party terms and payment commission may apply);<br>
                                14.2.3. in WebMoney currencies via WebMoney Transfer: transfer of fiat funds to
                                HashLite WebMoney account via the WebMoney Service (third-party terms and payment
                                commission may apply);<br>
                                14.2.4. in fiat currencies via a Payeer Transfer: transfer of fiat funds to HashLite
                                Payeer account via Payeer payment system (third-party terms and payment commission may
                                apply);<br>
                                14.2.5. in fiat currencies via a Bank Transfer: transfer of fiat funds to HashLite bank
                                account via a Bank/Wire Transfer (10 USD commission applied to orders under 50 USD);<br>
                                14.2.6. in fiat currencies via a Credit Card Transfer: transfer of fiat funds to
                                HashLite via UniversePay payment gateway (third-party terms and payment commission may
                                apply).<br>
                                14.3. A Customer has the right not to pay for the order in case the order has been
                                created but not yet paid, if the Customer decides not to complete the order. The order
                                will change status to "Timeout" after a given period of time (dependent on the payment
                                method) and the Customer will not be obliged to proceed with the order. HashLite will
                                not process requests to cancel unpaid orders, as it is intended the unpaid orders stay
                                in "Timeout" status.<br>
                                14.4. HashLite provides the destination account for all payment methods (except Balance
                                and Reinvest purchases). In order to confirm the purchase and activate the Contract,
                                the Customer is required to transfer the amount stated on the HashLite invoice page
                                (for Wire transfers) or on the third-party payment page (all payment methods with
                                third-party processing systems).<br>
                                14.5. A Customer is solely responsible for the accuracy of payment, including but not
                                limited to: the destination account, transferable amount and payment details:<br>
                                14.5.1. If the transferred amount is below requested, HF reserves the right, at its
                                sole discretion, to adjust the Contract accordingly to received funds or request the
                                missing amount to be paid, before activating the Contract.<br>
                                14.5.2. If the transferred amount is above requested, HF reserves the right, at its
                                sole discretion, to adjust the Contract accordingly to received funds, add the
                                excessive amount to Customer's Account Balance or return the excessive amount through
                                the payment system the Customer has used to pay for the order initially.<br>
                                14.5.3. If the Customer initiates the payment with incorrect/insufficient details
                                and/or to the wrong destination account, HashLite will attempt, if possible, to process
                                the order in a timely matter. If the destination address does not belong to HashLite
                                (directly or via a third-party service) and/or is not related to HashLite in any way,
                                HashLite will not be held responsible and will decline any claims.<br>
                                14.5.4. HashLite is not obliged to proactively resolve payment related issues without a
                                claim submitted by the Customer.<br>
                                14.6. In case of payment related issues a claim must be raised:<br>
                                14.6.1. A Customer has the right to raise a payment related claim/dispute by contacting
                                support within 14 days from the creation of payment with proof of payment. Requests
                                submitted after 14 days may not be processed.<br>
                                14.6.2. HashLite reserves the right to request proof of payment, if there are
                                suspicions or facts the payment was not received but the Contract was activated. The
                                Customer is obliged to provide proof of payment within 14 days of reception of such
                                request.<br>
                                14.6.3. Proof of payment includes but is not limited to: HashLite order number, unique
                                transaction ID or number, destination account, transferred amount, account statement
                                from the payment system used.<br>
                                14.6.4. Credit Card purchases may require proof of ownership of the payment method and
                                an identification request.<br>
                                14.6.5. If proof of payment is not provided within 14 days or provided proof is deemed
                                insufficient and/or invalid:<br>
                                14.6.5.1. if the claim was initiated by a Customer: HashLite reserves the right to
                                decline Customer's claim(s);<br>
                                14.6.5.2. if the claim was initiated by HashLite: HashLite reserves the right to
                                adjust/cancel related Contracts and adjust Customer's Account Balance by amounts mined
                                by related Contract.<br>
                                14.7. HashLite reserves the right to switch and/or change any purchased Contract's
                                Hashrate type and amount at any time. The change of Contract Hashrate type will account
                                for the current market price and HashLite will attempt, if possible, not to reduce the
                                total value of the Contract being changed. This means, in the event of forced hashrate
                                type change (such as SHA-256 to Scrypt) HashLite will attempt, if possible, to provide
                                the substitution Contract of equal or greater total value than that of the initial
                                Contract, according to the market price at the moment of change.<br>
                                14.8. Unless otherwise provided by law or by a particular offer, all purchases are
                                final and non-refundable. HF reserves the right to issue refunds at HF's sole
                                discretion. If we issue a refund, we are under no obligation to issue the same or
                                similar refund in the future. This refund policy does not affect any statutory rights
                                that may apply.<br>
                                14.9. In the case of a refund:<br>
                                14.9.1. Customer will receive a reimbursement of spent funds to start the service,
                                unless any funds were withdrawn from Customer's Account Balance. If any amount was
                                successfully withdrawn from the Account Balance, no refund requests will be processed
                                on said Account.<br>
                                14.9.2. HashLite has the right to nullify or deduct any Hashrate and/or funds mined by
                                the Hashrate of the refunded purchase from the Customer's Account Balance as well as
                                any funds provided as a Referral Bonus for the refunded purchase from the Referrer's
                                Account Balance.<br>
                                14.9.3. HashLite is not obliged to reimburse any funds spent for the Maintenance and
                                Electricity Fees.<br>
                                14.10. In the case of any return of overpaid funds or refund, HashLite may charge a
                                processing fee, dependent on the payment system used. The amount of the processing fee
                                is subject to change:<br>
                                14.10.1. Bitcoin transfer: 0.005 BTC;<br>
                                14.10.2. WebMoney: 10 USD;<br>
                                14.10.4. Payeer Transfer: 10 USD;<br>
                                14.10.5. Bank Transfer: 50 USD;<br>
                                14.10.6. Credit Card: 25 USD.</p>
                            <span id="15" class="anchor">&nbsp;</span>
                            <p><strong>15. REFERRAL PROGRAM</strong><br>
                                15.1. The Referral Program allows registered Customers to receive financial rewards for
                                purchases made by other Customers that they have referred (invited) to HashLite. The
                                Referral Program information is available at <u>https://HashLite.io/partners</u>.<br>
                                15.2. Every Customer receives a non-editable default Referral Code at registration. The
                                Customer can create an unlimited amount of additional Referral Codes, by adding a
                                suffix to their default Referral Code. Finding, creating and managing Referral Codes
                                and Referral Links is available in the Referrals menu in the Dashboard.<br>
                                15.3. Referral Links can be in 3 forms:<br>
                                15.3.1. Link to the registration page: <u>https://HashLite.io/?r=XXXXXX</u>, where
                                XXXXXX is the Referral Code.<br>
                                15.4. Customers are allowed to advertize, post and/or publish materials with their
                                Referral Link(s) on third-party websites or resources for the purpose of acquiring new
                                Referrals.<br>
                                15.5. HashLite is not responsible for the accuracy and/or validity of information in
                                any advertisements, posts and/or publications about HashLite created by Customers on
                                any third-party websites or resources, with a Referral Link or without.<br>
                                15.6. In order for a Customer to become a Referrer to a new Customer, the latter must
                                visit HashLite via the first Customer's Referral Link and create an eligible Account
                                within 24 hours after the first visit and within the same browser session (switching
                                browsers, clearing browser cache or allowing more than 24 hours to pass between the
                                first visit and the moment of registration invalidates the Referral Code saved in the
                                browser session). If the Referral Code is invalidated by any of these occurring, the
                                potential Referral must visit HashLite with via a Referral Link again.<br>
                                15.7. The default Referral Bonus percentage for any Referral Code created in HashLite
                                automatically or manually is 10%, except Reinvest and Balance Purchases. HashLite may
                                increase the percentage for webmasters and/or users with a high amount of Referrals
                                and/or Referred Purchases.<br>
                                15.8. If a Customer has visited HashLite by a link from an Affiliate Network and made a
                                Purchase within 7 days, HashLite grants the bonus only to the Affiliate Network that
                                handles the earnings on its own terms. This is valid even if the Customer has a
                                Referrer. <br>
                                15.9. Registering an Account after visiting HashLite by a link from an Affiliate
                                Network will result in the bonus for all Purchases made by the Customer for up to 30
                                days to be processed to the Affiliate Network. This is valid even if the Account is
                                registered via a HashLite Referral Link.<br>
                                15.10. HashLite is not obliged to link 2 Accounts into the Referrer-Referral relation
                                in case the new Account was registered without a Referral Link in error and/or add any
                                Referral Bonuses for past purchases retroactively.<br>
                                15.11. It is strictly forbidden to create additional Accounts for the purpose of
                                abusing the Referral Program and/or third-party Affiliate Network(s), i.e. registering
                                new Accounts via Customer's own Referral Link(s) and making purchases to receive
                                Referral Bonus for said purchases for the same Beneficiary. If HashLite has any
                                suspicion of a breach, HashLite reserves the right to request proof of identity and/or
                                absence of abuse for both the Referrer's and Referral's Accounts. If proof is not
                                provided within 7 days or provided proof is deemed insufficient and/or invalid,
                                HashLite may terminate all related Accounts, cancel any Contracts and/or nullify the
                                Accounts' Balances without the right of redemption or restoration.<br>
                                15.12. HashLite may adjust and/or remove any Referral Code, its Referral Bonus
                                percentage and any received Referral Bonus.<br>
                                15.13. It is strictly forbidden to use the following types of traffic:<br>
                                15.13.1. Doorway pages; <br>
                                15.13.2. Redirect; <br>
                                15.13.3. Spam; and <br>
                                15.13.4. Contextual advertising of HashLite brand. <br>
                                15.14. HashLite reserves the right to terminate any Account's access to the Referral
                                Program or any Account's ability to participate in the Referral Program at any time and
                                for any reason.</p>
                            <span id="16" class="anchor">&nbsp;</span>
                            <p><strong>16. COMMUNICATIONS</strong><br>
                                16.1. The Website may enable the display of third party content (&quot;User
                                Content&quot;).<br>
                                16.2. Although we are not obliged to do so, we may remove or reject any User Content.<br>
                                16.3. You agree that we may process and store any content you submit to the Website
                                (&quot;Your Content&quot;).<br>
                                16.4. You may be able to send Your Content to other Miners of the Website, and other
                                Miners of the Website may be able to send User Content to you.<br>
                                16.5. You agree to the distribution of Your Content by us both internally and
                                externally. Therefore, you should ensure that Your Content does not contain
                                information, which you intend to keep confidential or private.<br>
                                16.6. By making available, posting or transmitting Your Content to the Website, you are
                                granting us a non-exclusive, transferable, sublicensable, royalty-free, irrevocable,
                                perpetual worldwide license to use and exploit Your Content for any purpose.<br>
                                16.7. You agree that you are entitled to make available, post or transmit Your Content
                                to the Website.<br>
                                16.8. You will not make available, post or transmit to the Website any statement,
                                material or other content, nor use the Website in any way, that:<br>
                                16.8.1. is unlawful or may give rise to civil or criminal liability;<br>
                                16.8.2. infringes any copyright or other intellectual property rights of any third
                                party;<br>
                                16.8.3. infringes any third party's rights of privacy or rights of publicity;<br>
                                16.8.4. includes any computer virus or other malicious software;<br>
                                16.8.5. is abusive, pornographic, defamatory, discriminatory or obscene;<br>
                                16.8.6. harasses any other person;<br>
                                16.8.7. interferes with another user's use and enjoyment of the Website;<br>
                                16.8.8. impersonates any moderator, administrator or any staff or any other person
                                connected with HF;<br>
                                16.8.9. contains the confidential information of any other person;<br>
                                16.8.10. solicits passwords or personal information;<br>
                                16.8.11. contains video, photographs, or images of any other person without his or her
                                permission (or in the case of a minor, the minor's legal guardian);<br>
                                16.8.12. exploits any other person;<br>
                                16.8.13. we consider inappropriate; or<br>
                                16.8.14. encourages or provokes any other person to do any of the acts listed above.<br>
                                16.9. The Website may provide means by which you can communicate with us. We will
                                communicate with you at the email address you have provided or through other means of
                                communication that may be provided by the Website. Notices that are applicable to all
                                our Miners shall be made available on the Website publicly. You will be deemed to have
                                received a notice at the time the email is sent or the time the notice is posted on the
                                Website. We will be deemed to have received a notice when we issue a confirmation to
                                you.<br>
                                16.10. All emails (or other messages) we send are intended for the addressee only.</p>
                            <span id="17" class="anchor">&nbsp;</span>
                            <p><strong>17. GENERAL</strong><br>
                                17.1. These terms of service are subject to your statutory and common law consumer
                                rights and will not limit any rights you might have that cannot be excluded under
                                applicable law. These terms of service will not exclude or limit our liability for
                                death or personal injury resulting from our negligence nor any fraudulent acts or
                                representations or for any statutory liability not capable of limitation.<br>
                                17.2. We may deduct any monies you owe us from any monies we owe you.<br>
                                17.3. These terms of service, together with the terms of use, privacy policy and any
                                instructions, guidance and similar information found on the Website (from time to
                                time), constitute the entire agreement between you and HF relating to your use of the
                                Website and the Service and mining through the Website or the Service, to the exclusion
                                of any other terms.<br>
                                17.4. Our failure to enforce any term does not constitute our waiver of that term.<br>
                                17.5. If any part of these Terms is found to be unenforceable, it will be amended to
                                the minimum extent necessary to make it enforceable and the remainder of the provisions
                                will remain in full force and effect.<br>
                                17.6. No representation or warranty is made as to whether the Website or the Service
                                complies with the laws of any jurisdiction other than the Republic of Estonia.<br>
                                17.7. The parties submit to the exclusive jurisdiction of the Estonian courts. These
                                terms of service are subject to and interpreted in accordance with the laws of Republic
                                of Estonia, provided that these terms of service shall not be interpreted as conferring
                                any statutory EU consumer protection laws, including any rights of withdrawal or
                                cancellation under implementations of Directive 2011/83/EU on consumer rights, on any
                                individual not ordinarily a resident of an EU Member State.<br>
                                17.8. This Website the Panel are presented in multiple languages. In the case of a
                                conflict between translations, the English version will prevail.<br>
                                17.9. HF will be entitled to assign and otherwise transfer the agreement covered by
                                these terms of service by giving you reasonable notice, which may include notice given
                                via the Website.<br>
                                17.10. All questions, comments or complaints should be directed to us via Customer
                                Support and we will try to respond to within 48 hours.<br>
                                <br>
                                <strong>HashLite</strong><br>
                                43-39 Rue du Fer À Moulin 75005 Paris / France
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<% include partials/footer %>