@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: 'Lato', sans-serif;
}

#particles-home{
   height: 100vh;

}

.fs{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-primary-dark{
    background: #344880 !important;
}

.ftd{
    padding-left: 170px;
    color: #BBC1D4;
}

#home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 .ltext{
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 300 !important;
    font-size: 20px !important;
 }

.ht{
    font-weight: lighter !important;
    font-size: 55px;
}

.txsmall{
    font-size: 0.9rem !important;
}

.imghas{
    height: 450px;
    width: 600px;
    
}

.ft{
    height: 657px;
}

.fs .cont {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
    max-width: 100%;
    padding-bottom: 100px;
}

.tab{
    margin-top: 150px;
    margin-bottom: 180px;
}

.tsmall{
    font-size: 13px;
}

#lowH{
    font-weight: 400;
    font-size: 18px; 
    padding-top: 30px;
}

.ic{
    height: 3rem;
}

.smLine{
    content: "";
    width: 40px;
    height: 1px;
    background-color: rgb(30, 207, 202);
    position: relative;
    left: 50%;
    margin-left: -20px;
    margin-bottom: 20px;
    bottom: 0px;
}

.tw{
    color: white !important;
}

.border{
    border-color: #F7F7F7;
}

.feature-icon h4{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}

.btn-primary {
    background: #1ecfca;
    color: #fff !important;
    }

.btn {
        margin-right: 10px; 
        overflow: hidden;
        position: relative;
        z-index: 1;
        border-width: 0px;
        border-radius: 4px;
        letter-spacing: 1px;
        cursor: pointer;
        font-weight: 400 !important;
        font-size: 0.95rem !important;
        font-family: "Lato", sans-serif;
        padding: 13px 28px 13px;
        text-transform: capitalize !important;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        }

.sup{
    background-color: transparent !important;
    border-width: 1px;
    border-color: #fff !important;
}
.sup:hover{
    background-color: aliceblue !important;
    color: black !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.list-unstyled {
 padding: 20px;

}

h5{
    font-size: 18px;

}

.liI{
    margin-bottom: 10px;
    font-size: 15px;
}

.mb20{
    margin-bottom: 20px;
}

.mb30{
    margin-bottom: 30px;
}

.fhr{
    border-top: 2px solid rgba(30, 207, 202,0.05);
    
}

footer{
    background-color: #fbfbfb;
    padding: 150px;
    margin-left:0 !important; 
}
.ltt{
    font-weight: 300 !important;
    font-size: 20px;

}


.sec-sub{
    color: #8690B2 !important;
    font-size: 13px;
}

.liI1{
 padding: 10px;
 font-size: .9rem;
 display: block;
 border-bottom: 1px solid #eee;
color: #818181;
    

}
.liI2{
    padding: 10px;
    font-size: .9rem;
    display: block;
    border-bottom: 1px solid #eee;
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
       
}

.thin{
font-weight: 400;
font-size: 13px;
}

.cc{
height: 727.25px !important;
background: linear-gradient(215deg, #1ecfca 0%, #9c51f5 70%, #b88ee7 100%);
}

.cs{
    height: 685px;
    margin-top: 20px;
}

.text-white{
    color: white;
}

.icon-small{
    height: 30px;
}

.tg{
color: #d6d6d6 !important;
}

.greybg{
    background-color: #f0f4f7 !important;
}

.card{
    border-width: 0px !important;
}

.cardhead{
    color: #46495c !important;
}

.ico{
    height: 0.75rem;
    float: left;
    margin-top: 5px; 
    margin-right: 2.5px;
}

.text-dark-grey{
    color: rgba(70, 73, 92, 0.25) linear !important;
}

.card-header{
    border-bottom-width: 0 !important;
}

.value{
    font-size: 75px;
    line-height: 1;
    font-weight: 800;
    color: #1ecfca;
}

.fs9rem{
    font-size:.9rem; 
}

.mb40{
    margin-bottom: 40px !important;
}
.mb10{
    margin-bottom: 10px !important;
}

.nav-link{
    -webkit-transition: color 0.25s linear;
    -moz-transition:    color 0.25s linear;
    -ms-transition:     color 0.25s linear;
    -o-transition:      color 0.25s linear;
    transition:         color 0.25s linear;
}

.nav-link:hover{
    color: #1ecfca !important;
}
 .btn:hover{
    background-color: #1ecfca; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.28);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
 }

 .bl{
     color: #1ecfca !important;
     font-weight: bolder !important;
 }

 .disp{
    font-size: 3.4rem;
    letter-spacing: -2px;
    font-weight: 300 !important;
 }

 .blk{
     margin-top: 25px ;
    content: "";
    width: 40px;
    height: 1px;
    background-color:  lightgrey !important;
    position: relative;
    left: 50%;
    margin-left: -20px;
    margin-bottom: 20px;
    bottom: 0px;
 }

 .mb70{
     margin-bottom: 70px;
 }

  .jumbo1{
     margin-top: 90px;
     margin-bottom:90px;
     padding: 200px;
     height: 640px;
     opacity: 0.8;
     background: -webkit-linear-gradient(left, #344880, #1ecfca) !important;
     z-index: 0;
     
     
  }
  .jumb{
      color:white !important;
    
  }
  .mb40{
     margin-bottom:40px;
     font-weight: 300 !important;
     
     
  }
  /* .jumbog{
    background: -webkit-linear-gradient(left, #344880, #1ecfca) !important;
  } */


 .gradient-faded-terms{
    color: #818181;
    font-family: "Lato", sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.9;
 }

 .main-content-terms{
    background: -webkit-linear-gradient(bottom, #fbfbfb, #fff);
    margin: 0px;
 }

 .navbar a:active{
    color: #1ecfca !important;

 }

 .navbar.navbar-sticky.navbar-transparent-light.bg-white {
     color: white !important;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     z-index: 999;
     background-color: transparent !important;
 }

 .navbar.navbar-transparent-light.bg-white.navbar-sticky.fixed-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    animation: fadeIn .4s;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 0.98) !important;
}

.jumbo2{
background: 
    linear-gradient(to bottom, rgba(100, 100, 0, 0.5), rgba(100, 100, 0, 0.5)) cover,
    url(https://www.hashlite.io/images/bgcomp.jpg) 0 0 no-repeat fixed;
  height: 100%;
  overflow: hidden;
  color: #FFFFFF
}

.nav-link.active {
    color: #1ecfca !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }