body{
    font-family: "Lato", sans-serif !important;
}

#particles-home{
   height: 100vh;

}

.fs{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-primary-dark{
    background: #344880 !important;
}

.ftd{
    padding-left: 170px;
    color: #BBC1D4;
}

#home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 .ltext{
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 300 !important;
    font-size: 20px !important;
 }

.htext{
    font-size: 55px !important;
    font-weight: 300 !important;
}

.txsmall{
    font-size: 0.9rem !important;
}

.imghas{
    height: 450px;
    width: 600px;
    
}

.ft{
    height: 657px;
}

.fs .cont {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
    max-width: 100%;
    padding-bottom: 100px;
}

.tab{
    margin-top: 150px;
    margin-bottom: 180px;
}

.tsmall{
    font-size: 13px;
}

#lowH{
    font-weight: 400;
    font-size: 18px; 
    padding-top: 30px;
}

.ic{
    height: 3rem;
}

.smLine{
    content: "";
    width: 40px;
    height: 1px;
    background-color: rgb(30, 207, 202);
    position: relative;
    left: 50%;
    margin-left: -20px;
    margin-bottom: 20px;
    bottom: 0px;
}

.border{
    border-color: #F7F7F7;
}

.feature-icon h4{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}

.btn-primary {
    background: #1ecfca;
    color: #fff !important;
    }

.btn {
        overflow: hidden;
        position: relative;
        z-index: 1;
        border-width: 0px;
        border-radius: 4px;
        letter-spacing: 1px;
        cursor: pointer;
        font-weight: 400 !important;
        font-size: 0.95rem !important;
        font-family: "Lato", sans-serif;
        padding: 13px 28px 13px;
        text-transform: capitalize !important;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        }

.sup{
    background-color: transparent !important;
    border-width: 1px;
    border-color: #fff !important;
}
.sup:hover{
    background-color: aliceblue !important;
    color: black !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.list-unstyled {
 padding: 20px;

}

h5{
    font-size: 18px;

}

.liI{
    margin-bottom: 10px;
    font-size: 15px;
}

.mb20{
    margin-bottom: 20px;
}

.mb30{
    margin-bottom: 30px;
}

.fhr{
    border-top: 2px solid rgba(30, 207, 202,0.05);
    
}

footer{
    background-color: #fbfbfb;
    padding: 150px;
}
.ltt{
    font-weight: 300 !important;
    font-size: 20px;

}


.sec-sub{
    color: #8690B2 !important;
    font-size: 13px;
}

